.phone
  &__link
    display: block
    margin-bottom: 10px
    font-size: 36px
    font-weight: 700
    line-height: 1
    color: #fff
  &__callback
    font-size: 18px
    text-decoration: underline

+media-breakpoint-down(md)
  .phone
    &__link
      font-size: 26px