<section class="advantages" id="advantages">
  <div class="container">
    <div class="advantages__head">
      <h2 class="section-title">Наши сайты загрузят ваш отдел продаж на <span>101%</span></h2>
      <p class="section-desc">Инструменты для продаж которые проектируем мы, продают с конверсией от 11%, а в сочетании с нашей рекламой вы получите интернет бизнес под ключ в два клика.</p>
    </div>

    <ul class="advantages-list">

      <li class="advantages-list__item">
        <div class="advantages-list__icon">
          <img src="img/icon-advantages-1.png" alt="">
        </div>
        <h3>Digital-стратегия</h3>
        <p>Разработка стратегии эффективного <br>присутствия бренда в Digital</p>
      </li>

      <li class="advantages-list__item">
        <div class="advantages-list__icon">
          <img src="img/icon-advantages-2.png" alt="">
        </div>
        <h3>Креативные концепции</h3>
        <p>Создание продающих креативных концепций</p>
      </li>

      <li class="advantages-list__item">
        <div class="advantages-list__icon">
          <img src="img/icon-advantages-3.png" alt="">
        </div>
        <h3>Web - разработка</h3>
        <p>Разработка сайтов любого типа с учетом продающих ключей</p>
      </li>

      <li class="advantages-list__item">
        <div class="advantages-list__icon">
          <img src="img/icon-advantages-4.png" alt="">
        </div>
        <h3>E-commerce</h3>
        <p>Мы разместим Вашу рекламу на всех самых известных площадках в сети.</p>
      </li>

      <li class="advantages-list__item">
        <div class="advantages-list__icon">
          <img src="img/icon-advantages-5.png" alt="">
        </div>
        <h3>SMM</h3>
        <p>Разработка дизайна и продвижения бренда в социальных сетях.</p>
      </li>

      <li class="advantages-list__item">
        <div class="advantages-list__icon">
          <img src="img/icon-advantages-6.png" alt="">
        </div>
        <h3>Поддержка</h3>
        <p>Контентная и техническая поддержка сайтов после запуска проекта.</p>
      </li>

    </ul>
  </div>
  <!-- /.container -->
</section>
<!-- /.advantages -->