<section class="faq">
  <div class="container">
    <div class="faq__head">
      <h2 class="section-title">Стой! <br>А как же вопросы?</h2>
      <p class="section-desc">Ответы на вопросы помогут Вам определиться!</p>
    </div>

    <ul class="faq-list">
      <li class="faq-list__item">
        <div class="faq-list__number">01</div>
        <h3>Почему нет цен?</h3>
        <div class="faq-list__content">
          <p>У каждого нашего клиента свои предпочтения к дизайну, цветовой гамме. Задачи и бюджеты также у всех разные. Цена определяется уже при первом звонке.</p>
        </div>
      </li>
      <li class="faq-list__item">
        <div class="faq-list__number">02</div>
        <h3>C каким бюджетом работаем?</h3>
        <div class="faq-list__content">
          <p>Для Вас наша команда готова разработать сайт с бюджетом от 19 900 тысяч рублей. Вы получите сайт с рекламой в Яндекс и подготовкой к SEO продвижению.</p>
        </div>
      </li>
      <li class="faq-list__item">
        <div class="faq-list__number">03</div>
        <h3>Какие гарантии?</h3>
        <div class="faq-list__content">
          <p>Мы юридически предоставляем гарантии, а если нарушаем условия договора, то возвращаем Вам деньги в полном объеме.</p>
        </div>
      </li>
      <li class="faq-list__item">
        <div class="faq-list__number">04</div>
        <h3>Реклама в подарок</h3>
        <div class="faq-list__content">
          <p>Мы юридически предоставляем гарантии, а если нарушаем условия договора, то возвращаем Вам деньги в полном объеме.</p>
        </div>
      </li>
      <li class="faq-list__item">
        <div class="faq-list__number">05</div>
        <h3>Долго ли ждать?</h3>
        <div class="faq-list__content">
          <p>Обычно разработка проекта занимает не более 14 дней с момента оплаты, но бывают и более сложные решения требующие временных затрат.</p>
        </div>
      </li>
    </ul>
    <!-- /.faq-list -->
  </div>
  <!-- /.container -->

  <img src="img/moon.png" alt="" class="parallax moon">
</section>
<!-- /.faq -->