<section class="mountain">
  <ul class="mountain-scene" id="scene">
    <li class="layer" data-depth="0.0"></li>
    <li class="layer" data-depth="0.3">
      <div class="mountain-item mountain-item-4"></div>
    </li>
    <li class="layer" data-depth="0.3">
      <div class="mountain-item mountain-item-3"></div>
    </li>
    <li class="layer" data-depth="0.2">
      <div class="mountain-item mountain-item-2"></div>
    </li>
    <li class="layer" data-depth="0.1">
      <div class="mountain-item mountain-item-1"></div>
    </li>
  </ul>
  <!-- <div class="mountain-layer" data-depth="0.2">
    <div class="mountain-item mountain-item-1"></div>
  </div>
  <div class="mountain-layer" data-depth="0.3">
    <div class="mountain-item mountain-item-2"></div>
  </div>
  <div class="mountain-layer">
    <div class="mountain-item mountain-item-3"></div>
  </div>
  <div class="mountain-layer">
    <div class="mountain-item mountain-item-4"></div>
  </div> -->
</section>
<!-- /.mountain -->