<section class="services">
  <div class="container">

    <div class="services__wrap">
      <h2 class="section-title">Типы сайтов</h2>

      <ul class="services-list">
        <li class="services-list__item">
          <div class="services-list__icon services-list__icon--orange">
            <img src="img/icon-services-1.svg" width="90" height="80" alt="">
          </div>
          <h3>Лендинг пейдж</h3>
          <p>Создаем инструменты для продаж в интернете.</p>
          <p>Ваш сайт будет приносить заявки</p>
          <a href="#" class="btn-trs">Заказать</a>
        </li>
        <li class="services-list__item">
          <div class="services-list__icon services-list__icon--green">
            <img src="img/icon-services-2.svg" width="80" height="80" alt="">
          </div>
          <h3>Лендинг пейдж</h3>
          <p>Создаем инструменты для продаж в интернете.</p>
          <p>Ваш сайт будет приносить заявки</p>
          <a href="#" class="btn-trs">Заказать</a>
        </li>
        <li class="services-list__item">
          <div class="services-list__icon services-list__icon--purple">
            <img src="img/icon-services-3.svg" width="80" height="80" alt="">
          </div>
          <h3>Лендинг пейдж</h3>
          <p>Создаем инструменты для продаж в интернете.</p>
          <p>Ваш сайт будет приносить заявки</p>
          <a href="#" class="btn-trs">Заказать</a>
        </li>
        <li class="services-list__item">
          <div class="services-list__icon services-list__icon--pink">
            <img src="img/icon-services-4.svg" width="80" height="80" alt="">
          </div>
          <h3>Лендинг пейдж</h3>
          <p>Создаем инструменты для продаж в интернете.</p>
          <p>Ваш сайт будет приносить заявки</p>
          <a href="#" class="btn-trs">Заказать</a>
        </li>
      </ul>

      <div class="services__count">
        <p class="services__count--number"><span>99</span>%</p>
        <p class="services__count--desc">Довольных клиентов <br>стали нашими партнерами <br>и рекомендуют нас</p>
      </div>
    </div>

  </div>
  <!-- /.container -->
</section>
<!-- /.services -->